Cet email est envoyé par " {{ firstname }} - {{ lastname }} " et SwiftMailer : <br />
<h1> {{ object }} </h1>
<h3> Message : </h3>
<p>{{ message }} </p>
<h4>L'adresse email de contact est {{ email }}</h4>
---
Merci
