{% extends '@App/base/index.html.twig' %}

{% block title %}

    Articles

{% endblock %}

{% block dot %}

        <div class="dotart">
            .
        </div>

{% endblock %}


{% block content %}

    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-3 text-center titres">Articles</div>
        </div>
    </div>

    {% for article in articles %}

        {% if loop.index is odd %}

            <div class="container-fluid bgcg pt-5 pb-5  ">

        {% endif %}

        {% if loop.index is even %}

            <div class="container-fluid pt-5 pb-5">

        {% endif %}

                <div class="container mb-5">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ asset('uploads/img/'~article.image) }}" class="img-fluid">
                        </div>
                        <div class="col-8 align-self-center">
                            <h4 class="d-flex align-self-center">{{ article.title }}</h4>
                            <p><em>{{ article.releasedate | date("d/m/y")}}</em> -
                                <a href="{{ path('info_article', {'id': article.id}) }}">
                                                <span class="read">
                                                    <strong>
                                                        Lire
                                                    </strong>
                                                     </span>
                                    <i class="fas fa-wind"></i>
                                </a>
                            <p class="artcontent">{{ article.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}

{% endblock %}


