{% extends '@App/base/index.html.twig' %}

{% block title %}

    Admin

{% endblock %}

{% block header %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-5">
                Interface d'Admnistration
            </div>
            <div class="col-12 text-center mb-5">
                <a href="{{ path('homepage')}}">
                    - Retour Accueil -
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block adminmenu %}

    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-4"><a href="{{ path('admin_articles')}}">Articles</a></div>
            <div class="col-4"><a href="{{ path('admin_users')}}">Utilisateurs</a></div>
            <div class="col-4"><a href="{{ path('admin_products')}}">Produits</a></div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center pt-1 mb-1">
            <div class="col-4">
                <a href="{{ path('new_article')}}">
                    Ajout (<i class="fas fa-plus text-success"></i>)
                </a>
            </div>
            <div class="offset-4 col-4">
                <a href="{{ path('new_product')}}">
                Ajout (<i class="fas fa-plus text-success"></i>)
                </a>
            </div>
        </div>
    </div>
    <hr class="mb-3">

{% endblock %}

{% block content %}

    <div class="container-fluid">`

        {{ form_start(formProduct) }}

        <div class="col-12 text-center">
            {{ form_label(formProduct.name, 'Nom') }}
        </div>
        <div class="col-12 text-center mb-3">
            {{ form_widget(formProduct.name) }}
        </div>

        <div class="col-12 text-center">
            {{ form_label(formProduct.category, 'Categorie') }}
        </div>
        <div  class="col-12 text-center mb-3">
            {{ form_widget(formProduct.category) }}
        </div>

        <div class="col-12 text-center">
            {{ form_label(formProduct.content, 'Description') }}
        </div>
        <div class="col-12 text-center mb-3">
            {{ form_widget(formProduct.content) }}
        </div>

        <div class="offset-4 col-4 text-center">
            <img class="img-fluid" src="{{ asset('uploads/img/'~product.image) }}" >
        </div>
        <div class="col-12 text-center">
            {{ form_label(formProduct.image) }}
        </div>
        <div class="col-12 text-center">
            {{ form_widget(formProduct.image) }}
        </div>

        <div class="col-12 text-center mt-5">
            {{ form_widget(formProduct.save) }}
        </div>
        {{ form_end(formProduct) }}

    </div>



{% endblock %}

{% block footer %}{% endblock %}