{% extends '@App/base/index.html.twig' %}

{% block dot %}

    <div class="dotprod">
        .
    </div>

{% endblock %}

{% block content %}

    <a href="{{ path('articles') }}" class="return">
        <div class="container-fluid">
            <div class="row mb-5">

                <div class="ml-5">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="ml-2 align-self-center">
                    Retour aux articles
                </div>

            </div>
        </div>
    </a>


    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-12 text-center"><h3>{{ article.title }}</h3></div>
        </div>
    </div>
    <p class="offset-8 col-3">{{ article.releasedate | date("d/m/y")}}</p>
    <img src="{{ asset('uploads/img/'~article.image) }}" class="img-fluid offset-3 col-6 align-items-center mb-5">
    <p class="offset-2 col-8 mb-5">{{ article.content }}</p>
    <p class="offset-9 col-3 srce">Source : {{ article.source }}</p>

{% endblock %}