{% extends '@App/base/index.html.twig' %}

{% block title %}

    Accueil

{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="container-fluid homepage">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-center homebox hbarticles">
                <a href="{{ path('articles') }}"><div class="hptxt">Articles</div></a>
            </div>

            {% if app.user %}

            <div class="col-6 d-flex align-items-center justify-content-center homebox hbprofile">
                <a href="{{ path('profile') }}"><div class="hptxt">Profil</div></a>
            </div>

            {% else %}

            <div class="col-6 d-flex align-items-center justify-content-center homebox hbprofile">
                <a href="{{ path('fos_user_security_login') }}"><div class="hptxt">Connexion</div></a>
            </div>

            {% endif %}


        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-center homebox hbproducts">
                <a href="{{ path('products') }}"><div class="hptxt">Matériel</div></a>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center homebox hbforum">
                    <a href="{{ path('contact') }}"><div class="hptxt">Contact</div></a>
            </div>
        </div>
    </div>

    <img src="../img/logoiv.png" class="hplogo" width="10%">

{% endblock %}

{% block footer %}{% endblock %}


