{% extends '@App/base/index.html.twig' %}

{% block title %}

    Profil

{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center titres mb-3">Profil</div>
            <div class="offset-lg-6 col-lg-3 align-self-center text-center mb-3">
                <a href="{{ path('fos_user_profile_edit')}}" class="return">
                    Modifier vos informations
                </a>
            </div>
            <div class="offset-lg-6 col-lg-3 align-self-center text-center mb-5 responsivelogout">
                <a href="{{ path('fos_user_security_logout')}}" class="return">
                    Déconnexion
                </a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h1>
            {{ app.user.username }}
        </h1>
        <p>
            {{ app.user.email }}
        </p>
        <p>
            Age : {{ app.user.age }} ans
        </p>
        <div class="container">
        <p class="mb-5">
            {{ app.user.description }}
        </p>
        </div>
        <h3 class="mb-5">
            Matériel utilisé :
        </h3>



        <div class="container">
            <div class="row">

                {% for product in app.user.products %}

                    <div class="col-lg-6 mb-5 text-center">
                            <img src="{{ asset('uploads/img/'~product.image) }}" width="50%">
                        <h4>
                            {{ product.name }}
                        </h4>
                    </div>


                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}